* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Sans-Serif;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

span {
    color: red;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: hsl(0 0% 95%);
    height: 40px;

}

.navdiv {
  display: flex;
  align-items: center;
  border: 3px solid black;
}

.logo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.EL {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

. content p {
  text-align: center;
}

.content {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: hsl(0 0% 80%);
}
