* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

@keyframes rotate {
    0% {
        background-image: linear-gradient(45deg, #117a7c, #145424);
        background-position: 0% 50%;
    }
    50% {
        background-image: linear-gradient(45deg, #117a7c, #145424);
        background-position: 100% 0%;
    }
    100% {
        background-image: linear-gradient(45deg, #117a7c, #145424 );
        background-position: 0% 50%;
    }
}

span {
    color:  #145424;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: hsl(0 0% 90%);
    height: 35px;
}

.navdiv {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
}

.EL {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.head {
    color: white;
    padding-top: 40px;
}

.head h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 330px;
    animation: rotate 5s linear infinite;
    background-size: 400% 400%;
    margin-bottom: 20px;
}

.int {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#errorMessage {
    text-align: center;
    margin-top: 20px;
    color: red;
    font-size: 20px;
}

#urlIn {
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding-left: 30px;
}

#dl {
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #057d23;
    cursor: pointer;
}

#urlIn,
#dl {
    height: 45px;
    width: 380px;
}

.info p {
    font-size: 20px;
}

.info {
    margin-top: 60px;
    text-align: center;
}

.fuh {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  font-size: 20px;
}


.fuh a {
  color: #145424;
  text-decoration: none;
  font-weight: bold;
}

footer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: hsl(0 0% 95%);
}

